{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Category index</h1>

  <a href="{{ path('category_new')}} "Creer une categories </a>

  <ul>
  {% for category in categories%}
    <li>
        {{ category.name}}
        <a href ="{{ path('category_delete', {'id': category.id})}}"Supprimer</a>
    <li>

    {%else%}
        <li> Aucune category trouvees. </li>
    {%endfor%}
    </ul>
{% endblock %}
