{% extends 'base.html.twig' %}

{% block title %}PaymentMethod index{% endblock %}

{% block body %}
    <h1>PaymentMethod index</h1>

  <a href="{{ path('app_payment_method_new')}} "Creer un mode de paiement</a>

  <ul>
  {% for method in paymentMethods %}
    <li>
        {{method.name}}
        <a href="{{ path('payment_method_delete', {id:method.id} )}} "Supprimer"</a>
    </li>

    {%else%}
    <li> Aucun mode de paiement trouvé.</li>
    {%endfor%}
    </ul>
{% endblock %}
